@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; }
li{list-style: none; }
a{text-decoration: none; color: #333; }

body {
    font-family: Arial, Helvetica, sans-serif;

}

#wrap{width: 100%;}

header{
    width: 100%;
    height: 252px;
   /* background-color: aqua;*/

}

#top_area {
    width: 100%;
    height: 205px;
    /* background-color: blueviolet;*/
    margin: 0 auto;
}

#top_area h1{
    font-size: 48px;
    text-align: center; 
    padding-top: 60px;
    
}
#top_area p{
    font-size: 14px;
    text-align: center;
    font-weight: bold ;

}

header nav{
    width: 100%;
    height: 45px;
    background-color: #333333;
    border-bottom:2px solid #fff;
}

nav > ul {
    width: 100%;
    height: 45px;
    margin:0 auto;
    padding-left: 33px;
    /*background-color:#ccc; */
}

nav > ul > li {
    height: 45px;
    float:left;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold ;
   
}

nav > ul > li > a {
	padding:0 17px;
    color: #fff;
}

#sidebar{
    width: 299px;
    height: 1050px;
    background-color: #333;
    border-bottom:2px solid #fff;
} 

#cat{
     width:221px; 
     height: 156px;
     display:inline-block;
     margin-left: 31px;
     margin-top: 30px;
     background-color: aqua;

}

#profile {
    width: 268px;
    height: 110px;
    
   /* background-color: antiquewhite; */

}

.name{
    width: 268px;
    height: 40px;
    /* background-color: bisque; */
     font-size: 24px;
     color: #dadada;
     font-weight: bold;
     font-display: 10px; 
     text-align: left;
     padding-top: 17px;

    

}
.contents{
    width: 268px;
    height: 57px;
    font-size: 12px;
    color: #dadada;
    font-weight: 300;
    line-height: 16px;
    /* background-color: azure; */

    
}

.line{
    width: 188px;
    height: 8px;
    padding-bottom: 3px;
    border-bottom:1.19px solid #fff;
}
.icon{
    width: 268px;
    height: 48px;
    /*background-color: aliceblue; */

   

}
.icon p{ 
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 590px;
    padding-left: 30px;
    color: #dadada;
}

.icon img{
    
    position: absolute;
    top: 585px; 
}
#icon2{
    width: 268px;
    height: 40px;
    position: absolute;
    top: 610px;
  /* background-color: aqua; */

}
.icon3{
    width: 268px;
    height: 40px;
  /* background-color: aqua; */
}
.icon3 img{
    
   padding-top:10px;
   position: absolute;
    top: 6px;
  
}

.icon3 a{
    height: 167 px;
    width: 40 px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 30px;
    font-size: 14px;
    color: #dadada;
    /*
    padding-left: 30px;
    line-height: 10px;
    text-align: left;
    */
    /*background-color:#fff;*/
    

}

.line2{
    width: 188px;
    height: 8px;
    padding-bottom: 40px;
    border-bottom:1.19px solid #fff;
    /*background-color: antiquewhite; */
}
#sns {
	width: 500px;
	/*background-color: #ccc;*/
}
#sns ul li {
	float: left;
	width: 20px;
	height: 22px;
	margin-right: 10px;
	margin-top: 20px;
}
#sns ul li a img {
	display: block;
	width: 20px;
	height: 22px;
} 

#words{

    width: 1220px;
    height: 1150px;
    /*background-color: #d11010; */
    position: absolute;
    left: 300px;
    top:252px; 
   
}

#post{
    width: 1070px;
    height: 210px;
    /* background-color: aquamarine; */
    position: absolute;
    top:40px;
    left: 80px;
    border-bottom:2px solid #999999;
}
.title{
    font-size:28px;
    font-weight: bold;
    color: #000;
}

.date{
    width: 290px;
    height: 42px;
    /*background-color: aliceblue; */
    text-align:justify;
    margin-top: 13px;
    font-size: 18px;
    color: #999999;
    font-weight: bold;
    

}

.text{
    width: 1090px;
    height: 70px;
    /*background-color: aquamarine; */
    color: #000;
    line-height: 18px;
}

.btn{
    width: 94px;
    height: 30px;
    border: 2px solid #999999;
    border-radius: 20px;
  /*  background-color: darkcyan; */
}
.btn a{ 

    color: #999999;
    font-size: 18px;
    border-radius: 1px;
}
.btn1{
    position:absolute;
    left: 65px;
    top:163px;
}
.btn2{
    position:absolute;
    left: 15px;
    top:163px;
    font-size: 18px;
    font-weight: bold;
}


#post2{
    width: 1070px;
    height: 210px;
    /* background-color: aquamarine; */
    position: absolute;
    top:290px;
    left: 80px;
    border-bottom:2px solid #999999;
}

#post3{
    width: 1070px;
    height: 210px;
    /* background-color: aquamarine; */
    position: absolute;
    top:550px;
    left: 80px;
    border-bottom:2px solid #999999;
}
#post4{
    width: 1070px;
    height: 210px;
    /* background-color: aquamarine; */
    position: absolute;
    top:800px;
    left: 80px;
    border-bottom:2px solid #999999;
}
#foot{
    width: 100%;
    height: 268px;
    background-color: #333333;
}

.hand{
    width: 297px;
    height: 268px;
    /*background-color: aquamarine; */

}

.finger{
    font-size: 35px;
    color: #fff;
    text-align: left;
    padding-top: 50px;
    padding-left: 40px;
    font-weight: bold;
}
.subtitle{
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    text-align: left;
    padding-left: 40px;
    line-height:30px;
    
}
.end{
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    text-align: left;
    padding-left: 40px;
}
.drx{
    width: 320px;
    height: 268px;
   /* background-color: aqua; */
    position:absolute;
    left: 380px;
    top: 1304px;

}
.deft{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    margin-top: 55px;
}
.beryl{
    font-size: 18px;
    color: #fff;
    text-align: left;
    padding-left: 40px;
    line-height:30px;
    margin-top: 15px;
}
.geng{
    width: 320px;
    height: 268px;
    /*background-color: aqua; */
    position:absolute;
    left:690px;
    top: 1304px;

}

.chovy{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    margin-top: 55px;
}
.ruler{
    font-size: 18px;
    color: #fff;
    text-align: left;
    padding-left: 40px;
    line-height:30px;
    margin-top: 15px;
}
.ruler a{
    font-size: 18px;
    color: #fff;
    line-height:30px;
    margin-top: 15px;
}
.t1 {
    width: 320px;
    height: 268px;
    /*background-color: aqua; */
    position:absolute;
    left:1100px;
    top: 1304px;

}

.faker{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-top: 55px;
}
.keria{
    font-size: 17px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
}
.letter{
    width: 222px;
    height: 40px;
    /* background-color: aqua; */
    padding-left: 10px;
    margin-top: 15px;

}
input{
    width: 222px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 9px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
  .bts{
   position: absolute;
    right: 90px;
    bottom:105px;
    outline: 0;
    border: none;
  }
  .lastline{
    position: absolute;
    right: 120px;
    bottom:99px;
    height: 39px;
    border-left:2px solid #999999;
  }